{% extends 'layout.html' %}

{% block title %}
Traslados
{% endblock %}

{% block style%}
<!--Incorpora el CSS de DataTable-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}



<nav class="navbar navbar-light bg-title">
    <div class="container-fluid">
        <h4> Listado de traslados</h4>
        <a href="/traslados/add" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i>Nuevo</a>
    </div>
</nav>
<br>
<div class="col-md-12">
    <table id="listado" class="table table-striped" width="100%">
        <thead>
            <tr>
                <!-- AGREGAR ENCABEZADO -->
                <th class="text-center">ID</th>
                <th class="text-center">FECHA</th>
                <th class="text-center">ALMACEN ORIGEN</th>
                <th class="text-center">ALMACEN DESTINO</th>
                <th class="text-center">MOTIVO</th>
                <th class="text-center">USU. REGISTRO</th>
                <th class="text-center">USU. ANULACION</th>
                <th class="text-center">FECHA_ANULACION</th>
                <th class="text-center">ESTADO</th>
                <th class="text-center">OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            <!-- AGREGAR LOS CAMPOS DE LA TABLA VENTA-->
            {%if traslados["status"] == True%}
            {% for tras in traslados["data"] %}
            <tr>
                <td class="text-center">{{ tras['id']}}</td>
                <td class="text-center">{{ tras['fecha']}}</td>
                <td class="text-center">{{ tras['alm_origen']}}</td>
                <td class="text-center">{{ tras['alm_destino']}}</td>
                <td class="text-center">{{ tras['motivo']}}</td>
                <td class="text-center">{{ tras['usuario_registro']}}</td>
                <td class="text-center">{{ tras['usuario_anulacion']}}</td>
                <td class="text-center">{{ tras['fecha_hora_anulacion']}}</td>
                <td class="text-center">{{ tras['estado']}}</td>


                <!-- Detalle con boton anular -->
                <td class="text-center">
                    {% if tras['estado'] == "Emitida" %}
                    <a href="traslados/cancel/{{tras['id']}}" class="btn btn-danger btn-sm btn-anular"><i
                            class="bi bi-basket"></i>Anular</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>

</div>



{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

<script lang="text/javascript">
    $(document).ready(function () {
        $('#listado').DataTable({
            "scrollX": true,
            "pageLength": 3,
            "language": { "url": "{{url_for('static', filename='json/language-spanish-datatable.json')}}" },
            "dom": 'Brftip',
            "buttons": ['excel', 'print'],
            "order": [[0, "asc"]]
        });
        //searchHeadTable($("table#listado"))
    });
</script>
{% endblock %}