{% extends 'layout.html' %}

{% block title %}
Registrar Traslado
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}


{% block body %}
<nav class="navbar navbar-light bg-title">
    <div class="container-fluid">
        <h4>Registrar Traslado</h4>
    </div>
</nav>
<div class="col-md-12">
    <form action="/traslados/save" method="POST" id="frmtraslado">

        <div class="mb-3 row">
            <!--primera fila-->
            <div class="col-md-4">
                <label class="form-label">Almacen Origen</label>
                <select name="cboalmorigen" id="cboalmorigen" class="form-select form-select-sm" required>
                    <option value="0" selected>Seleccione almacen origen</option>
                    {% for alm in datos_alm["data"] %}
                    <option value="{{alm['id']}}">{{alm['nombre']}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-4">
                <label class="form-label">Almacen Destino</label>
                <select name="cboalmfinal" id="cboalmfinal" class="form-select form-select-sm" required>
                    <option value="0" selected>Seleccione almacen destino</option>
                    {% for alm in datos_alm["data"] %}
                    <option value="{{alm['id']}}">{{alm['nombre']}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-1">
                <label class="form-label">&nbsp;</label>
                <input type="hidden" name="txtproducto_id" id="txtproducto_id">
            </div>
            <div class="col-md-2">
                <label class="form-label">Fecha</label>
                <input type="date" name="txtfecha" id="txtfecha" value="{{fecha_traslado}}"
                    class="form-control form-control-sm" required>
            </div>
        </div>

        <div class="mb-3 row">
            <!--segunda fila-->
            <div class="col-md-8">
                <label class="form-label">Motivo Traslado</label>
                <input name="txtmotivo" id="txtmotivo" class="form-control form-control-sm">
            </div>

        </div>

        <div class="mb-3 row">
            <!--tercera fila-->
            <div class="col-md-4">
                <label class="form-label">Producto</label>
                <select name="cboproducto" id="cboproducto" class="form-select form-select-sm">

                </select>
            </div>

            <div class="col-md-2">
                <label class="form-label">Cantidad actual</label>
                <input name="txtstock" id="txtstock" class="form-control form-control-sm" readonly>
            </div>

            <div class="col-md-2">
                <label class="form-label">Cantidad a Trasladar</label>
                <input type="number" name="txtcantidad" id="txtcantidad" class="form-control form-control-sm">
            </div>

            <div class="col-md-1">
                <label class="form-label">&nbsp;</label>
                <button id="btnagregar" type="button" class="btn btn-success btn-sm"><i class="bi bi-arrow-down"></i>
                    Agregar</button>
            </div>

        </div>

        <div class="mb-3 row">
            <!--cuarta fila-->
            <div class="col-md-9">
                <table class="table table-striped" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PRODUCTO</th>
                            <th class="text-right">CANTIDAD</th>
                        </tr>
                    </thead>

                    <tbody id="detalletraslado" class="detalletraslado">
                    </tbody>

                </table>
            </div>
        </div>

        <div class="mb-3 row">
            <!--quinta fila-->
            <div class="col-md-12">
                <input type="hidden" name="txtdetalletraslado" id="txtdetalletraslado">
            </div>
        </div>

        <div class="mb-3 row">
            <!--sexta fila-->
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-sm btn-guardar"><i class="bi bi-save"></i>
                    Guardar</button>
                <a href="/traslados" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left"></i> Regresar</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}


{% block script %}


<script lang="text/javascript">
    //Cuando carga el documento (cuando se lee el contenido del documento o la página html)


    $("#cboproducto").change(function () {
        $.post
            (
                "/stock_almacen/get/data",
                { producto_id: $("#cboproducto").val(), almacen_id: $("#cboalmorigen").val() },
                function (rpta) {
                    if (rpta["status"] == true) {
                        var v_stock = rpta["data"]["stock"];
                        //var v_producto_id = rpta["data"]["id"];
                        $("#txtstock").val(v_stock);
                        //$("#txtproducto_id").val(v_producto_id);
                        $("#txtcantidad").focus();
                    } else {
                        $("#txtstock").val("sin stock");
                    }
                }
            );
    });


    $("#cboproducto").change(function () {
        $.post
            (
                "/productos/getproducto",
                { producto_id: $("#cboproducto").val() },
                function (data) {
                    if (data["status"] == true) {
                        var v_producto_id = data["data"]["id"];
                        $("#txtproducto_id").val(v_producto_id);
                    }
                }
            );
    });

    $("#cboalmfinal").change(function () {
        validarAlmacenes();
    });

    $("#cboalmorigen").change(function () {
        validarAlmacenes();
        $("#cboproducto").html(""); //limpiar el combo
        $("#cboproducto").append('<option value="0" selected>Seleccione producto</option>');
        $("#txtstock").val("");
        $.post
            (
                "/stock_almacen/get/producto",
                { almacen_id: $("#cboalmorigen").val() },
                function (rpta) {
                    console.log("respuesta desde base de datos")
                    console.log(rpta)
                    if (rpta["status"] == true) {
                        $.each(rpta["data"], function (key, value) {
                            //imprimir los datos
                            console.log("estoy en la fila: " + key)
                            console.log("y su objeto datos es : " + JSON.stringify(value))
                            console.log('***********************************')
                            //**********************
                            $("#cboproducto").append('<option value=' + value['producto_id'] + '>' + value['nombre'] + '</option>');
                        });

                    }
                }
            );
    });



    $("#btnagregar").click(function () {
        //Captura los datos en variables. Los datos estan en los controles
        var producto_id = $("#txtproducto_id").val(); //hidden
        var producto = $("#cboproducto option:selected").text();
        var cantidad = $("#txtcantidad").val();
        var stock = $("#txtstock").val();

        //validar que se haya seleccionado un producto
        if (producto_id == "") {
            alert("Debe seleccionar  un producto");
            return;
        }

        //console.log("stock: " + stock)
        //console.log("cantidad: " + cantidad)
        // if (stock > cantidad){
        //     alert("La cantidad sbrepasa el stock del producto");
        //     return;
        // }

        //Elabora el código html para agregarlo en el tbody "detalleventa"
        var fila = '';
        fila = fila + '<tr>';
        fila = fila + '<td>' + producto_id + '</td>';
        fila = fila + '<td>' + producto + '</td>';
        fila = fila + '<td class="text-right">' + cantidad + '</td>';
        fila = fila + '<td class="text-center"><button id="btneliminardetalle" type="button" class="btn btn-danger btn-sm btneliminardetalle" title="Eliminar"><i class="bi bi-trash"></i></button></td>';
        fila = fila + '</tr>';

        //Agregar el detalle al tbody "detalletraslado"
        $("#detalletraslado").append(fila);


        //Limpiar los controles
        $("#txtproducto_id").val("");
        $("#cboproducto").val("");
        $("#txtcantidad").val("");
        $("#txtstock").val("");

        //Enfocar al cboproducto
        $("#cboproducto").focus();

        //Calcular totales
        //calcularTotales();

    });


    //Llamar al tbody "detalletraslado" mediante su propiedad "class"
    $(document).on("click", "tbody.detalletraslado button.btneliminardetalle", function () {
        //Eliminar el producto 
        //this (btneliminardetalle)
        $(this).parents("tr").remove();

        //Calcular totales
        //calcularTotales();
    });



    $("#frmtraslado").submit(function (event) {
        //alert("hola se esta procesando el form");
        var arrayDetalleTraslado = Array();

        $("#detalletraslado > tr").each(function () {
            //Este bucle recorre todos los TR que estan dentro del tbody "detalleTraslado
            var producto_id = $(this).find('td').eq(0).html();
            var cantidad = $(this).find('td').eq(2).html();
            var precio = $(this).find('td').eq(3).html();

            //crear un objeto para almacenar el producto_id, cantidad, precio
            ojbDetalleTraslado = new Object();
            ojbDetalleTraslado.producto_id = producto_id;
            ojbDetalleTraslado.cantidad = cantidad;
            ojbDetalleTraslado.precio = precio;

            //Cargar el objeto al arrayDetalleTraslado
            arrayDetalleTraslado.push(ojbDetalleTraslado);
        });

        //Convertir el arrayDetalleTraslado en formate JSON
        var jsonDetalleTraslado = JSON.stringify(arrayDetalleTraslado);
        //imprimir el JSON en la caja de texto
        $("#txtdetalletraslado").val(jsonDetalleTraslado);
        //Evitar que se procese el formulario
        //event.preventDefault();

    });

    function validarAlmacenes() {
        //Comprarar que el valores del combo, que sean diferentes
        if ($("#cboalmorigen").val() == $("#cboalmfinal").val()) {
            $('#cboalmorigen').prop("selectedIndex", 0);
            $('#cboalmfinal').prop("selectedIndex", 0);
            $("#cboproducto").html(""); //limpiar el combo
            $("#cboproducto").append('<option value="0" selected>Seleccione producto</option>');

            alert("Almacen Origen debe ser distinto a almacenn Destino");
        }
    }


</script>
{% endblock %}