@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,300italic,400italic,600italic);
body {
  font-family: Nunito, sans-serif;
  font-size: 0.8rem;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.26875rem 0.75rem !important;
}

fieldset legend {
  font-size: 0.8rem;
}

.select2-selection__arrow {
  display: none !important;
}

.select2-container--default {
  font-size: 0.75rem !important;
}
.select2-container .select2-selection--single {
  height: "100%";
}
.bg-danger-light {
  background-color: rgba(255, 0, 0, 0.055);
}

.bg-yellow-light {
  background-color: rgba(255, 255, 0, 0.065);
}

.card-title,
.form-control {
  font-size: 0.85rem;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f4f6f9;
  opacity: 1;
}

.form-control {
  font-size: 0.75rem !important;
}

.alert .close {
  outline: none;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.table tbody {
  font-size: 0.725rem;
  font-family: Source Sans Pro;
}

.input-group-prepend .input-group-text {
  min-width: 120px;
  background-color: #f8f8f8;
  justify-content: center;
}

.fixed-append .input-group-append .input-group-text {
  min-width: 80px;
  justify-content: center;
}

.input-group-sm > .input-group-prepend > .input-group-text {
  font-size: 0.75rem !important;
}

label {
  margin-bottom: 0.1rem;
}

.custom-file-label {
  padding: 0.6rem 0.75rem;
}

.custom-file-label:after {
  display: none;
}

.modal .close {
  outline: none;
}

.fc-toolbar,
.fc-toolbar.fc-header-toolbar {
  padding: 0;
}

.card-body .fc {
  margin-top: 0;
}

.fc .fc-highlight {
  background: #deecff !important;
}

.scrollable-sm {
  max-height: 5.5rem;
  overflow: auto;
}

.legend .legend-scale ul {
  margin: 0 0 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #ded7d7;
  text-align: center;
  font-weight: 700;
}
.p-2 {
  padding: 0.5rem !important;
  margin-bottom: 1%;
}

/* Modal Loading */
.bd-example-modal-lg .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-example-modal-lg .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}

/* Loading In Input Text*/
div.loading-txt img {
  content: url(../imgs/sources/loading.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.required {
  box-shadow: 0px 0px 6px #fa3200a4;
  border: 1px solid red !important;
}

td.details-control {
  background: url('../imgs/sources/btn_mas.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../imgs/sources/btn_close.png') no-repeat center center;
}

.filaSeleccionada {
  background-color: rgba(0, 0, 0, .15) !important;
}
/********************/
@media only screen and (max-width: 1100px) {
  /* Force table to not be like tables anymore */
  #no-more-tables table,
  #no-more-tables thead,
  #no-more-tables tbody,
  #no-more-tables th,
  #no-more-tables td,
  #no-more-tables tr {
  display: block;
  }
   
  /* Hide table headers (but not display: none;, for accessibility) */
  #no-more-tables thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
  }
   
  #no-more-tables tr { border: 1px solid #ccc; }
    
  #no-more-tables td {
  /* Behave like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
  white-space: normal;
  text-align:left;
  }
   
  #no-more-tables td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  text-align:left;
  font-weight: bold;
  }
   
  /*
  Label the data
  */
  #no-more-tables td:before { content: attr(data-title); }
  }

  thead input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
  }