{% extends 'layout.html' %}

{% block title %}
Agregar/Editar Menu
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block style %}
<!--Incorpora el CSS de Select2-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/select2.min.css')}}">
<!--Incorpora el CSS Principal style.css-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{%if menus is defined%}
{% set v_id = menus['data']['id'] %}
{% set v_nombre = menus['data']['nombre'] %}
{% set v_route = menus['data']['route'] %}
{% set v_menu_id = menus['data']['menu_id'] %}
{% set v_display = 'visible'%}
{%else%}
{% set v_id = 0 %}
{% set v_nombre = "" %}
{% set v_route = "" %}
{% set v_menu_id = "" %}
{% set v_display = 'invisible'%}
{%endif%}

<!-- Blocke Modal Grabar-Eliminar (Layout)-->
{% block title_modal_accion %}
Grabar
{% endblock %}

{% block body_modal_accion %}
¿Seguro(a) que desea grabar la operación?
{% endblock %}

{% block confirm_modal_accion %}
btn-confirm-save
{% endblock %}
<!-- Fin Blocke Modal Grabar-Eliminar (Layout)-->

{% block body %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <b>Agregar/Editar Menu</b>
    </div>
    <div class="card-body">
      <!--ERRORES DE VALIDACIÓN-->
      {% if form.errors.items() %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for field, errors in form.errors.items() %}
        {{ ', '.join(errors) }} </br>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <!-- FIN ERRORES DE VALIDACIÓN -->
      <form id="form" action="" method="POST">
        {{ form.csrf_token() }}
        <div class="mb-3 row {{v_display}}">
          <div class="col-md-1">
            <label class="form-label">{{ form.id.label }}</label>
            {{ form.id(class="form-control form-control-sm", value=v_id,readonly="readonly")}}
          </div>
        </div>

        <fieldset class="border p-2">
          <legend class="w-auto">Datos de Menu</legend>
          <div class="row">
            <div class="col-md-4 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.nombre.label }}</div>
                </div>
                {{ form.nombre(class="form-control form-control-sm", value=v_nombre) }}
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.route.label }}</div>
                </div>
                {{ form.route(class="form-control form-control-sm", value=v_route) }}
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Seleccione si tiene Menu Padre</div>
                </div>
                <select name="menupadre" class="form-select form-select-sm select-2">
                  <option selected value="">Seleccione...</option>
                  {% for menu in menusPadre["data"] %}
                  {% if v_menu_id == menu['id'] %}
                  <option selected value="{{menu['id']}}">{{menu['nombre']}}</option>
                  {%else%}
                  <option value="{{menu['id']}}">{{menu['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="text-right">
          <input type="button" value="Guardar" class="btn btn-primary btn-sm btn-guardar2">
          <a href="/menus" class="btn btn-secondary btn-sm">Regresar</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/library/select2.min.js')}}"></script>
<script src="{{url_for('static', filename='js/sistema/menu.js')}}"></script>
{% endblock %}