{% extends 'layout.html' %}

{% block title %}
Reporte Kardex
{% endblock %}

{% block style %}
<!--Incorpora el CSS de DataTable-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/jquery.dataTables.css')}}">
<!--Incorpora el CSS de DataTable --- Buttons-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/buttons.dataTables.min.css')}}">
<!--Incorpora el CSS de Select2-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/select2.min.css')}}">
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <b>Reporte Kardex</b>
    </div>
    <div class="card-body">

      <!--ERRORES DE VALIDACIÓN-->
      {% if form.errors.items() %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for field, errors in form.errors.items() %}
        {{ ', '.join(errors) }} </br>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <!-- FIN ERRORES DE VALIDACIÓN -->

      <form id="form" action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset class="border p-2">
          <legend class="w-auto">Opciones de búsqueda</legend>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="input-group input-group-sm flex-nowrap mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{ form.almacen.label }}</div>
                  </div>
                  <select id="almacen" name="almacen" class="form-control form-control-sm select-2" required
                    style="width: 100%;">
                    <option value="0">Todos</option>
                    {% for almacen in almacenes["data"] %}
                    {%if form.almacen.data==almacen['id']|string%}
                    <option selected value="{{almacen['id']}}">{{almacen['nombre']}}</option>
                    {%else%}
                    <option value="{{almacen['id']}}">{{almacen['nombre']}}</option>
                    {%endif%}
                    {% endfor %}
                  </select>
                </div>

                <div class="input-group input-group-sm flex-nowrap mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{ form.producto.label }}</div>
                  </div>
                  <select id="producto" name="producto" class="form-control form-control-sm select-2"
                    style="width: 100%;">
                    <option value="0">Seleccione Primero Almacén</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="input-group input-group-sm mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{ form.date_ini.label }}</div>
                  </div>
                  {{ form.date_ini(class="form-control form-control-sm", max=form.date_now) }}
                </div>
                <div class="input-group input-group-sm mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{ form.date_fin.label }}</div>
                  </div>
                  {{ form.date_fin(class="form-control form-control-sm", max=form.date_now) }}
                </div>
              </div>
            </div>

            <div class="col-md-2">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-sm mb-2" id="btn-search">
                  <span class="bi bi-search"></span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <fieldset class="border p-2">
        <legend class="w-auto">Resultados</legend>
        <div class="row">
          <div id="no-more-tables">
            <table id="listado" class="table">
              <thead class="cf">
                <tr class="text-center">
                  <th scope="col" width="2%"></th>
                  <th scope="col" width="18%">ALMACEN</th>
                  <th scope="col" width="10%">COD. PROD.</th>
                  <th scope="col" width="29%">PRODUCTO</th>
                  <th scope="col" width="13%">CANT. ENTRADA</th>
                  <th scope="col" width="13%">CANT. SALIDA</th>
                  <th scope="col" width="13%">EXISTENCIAS</th>
                </tr>
              </thead>
              <tbody>
                <!-- Si status=True entonces existen registros y mostrar en la tabla -->
                {%if kardexs.status%}
                {% for kardex in kardexs["data"] %}
                <tr data-idalm="{{kardex['almacen_id']}}" data-idprod="{{kardex['producto_id']}}" class="text-center">
                  <td data-title="" class="details-control"></td>
                  <td data-title="ALMACEN">{{ kardex['almacen'] }}</td>
                  <td data-title="COD. PROD.">{{ kardex['producto_id'] }}</td>
                  <td data-title="PRODUCTO">{{ kardex['producto'] }}</td>
                  <td data-title="CANT. ENTRADA">{{ kardex['ingreso'] }}</td>
                  <td data-title="CANT. SALIDA">{{ kardex['salida'] }}</td>
                  <td data-title="EXISRENCIAS">{{ kardex['existencias'] }}</td>
                </tr>
                {% endfor %}
                {%endif%}
              </tbody>
            </table>
          </div>
        </div>
      </fieldset>
    </div>
  </div>


  {% endblock %}

  {% block script %}
  <script type="text/javascript" charset="utf8"
    src="{{url_for('static', filename='js/library/jquery.dataTables.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/dataTables.buttons.min.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/jszip.min.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/pdfmake.min.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/vfs_fonts.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/buttons.html5.min.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/buttons.print.min.js')}}"></script>
  <script lang="text/javascript">
    $(document).ready(function () {
      $('#listado').DataTable({
        //"scrollX": true,
        "pageLength": 6,
        "language": { "url": "{{url_for('static', filename='json/language-spanish-datatable.json')}}" },
        "dom": 'Brftip',
        "buttons": ['excel', 'pdf', 'print', 'copy'],
        "order": [[2, 'desc']]
      });
      //searchHeadTable($("table#listado"), [0], false);
    });
  </script>

  {% endblock %}

  {% block scripts %}
  <script src="{{url_for('static', filename='js/library/select2.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/util.js')}}"></script>
  <script src="{{url_for('static', filename='js/report/kardex.js')}}"></script>
  {% endblock %}