{% extends 'layout.html' %}

{% block title %}
Reporte Venta
{% endblock %}

{% block style %}
<!--Incorpora el CSS de DataTable-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/jquery.dataTables.css')}}">
<!--Incorpora el CSS de DataTable --- Buttons-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/buttons.dataTables.min.css')}}">
<!--Incorpora el CSS de Select2-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/select2.min.css')}}">
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <b>Reporte Ventas</b>
    </div>
    <div class="card-body">

      <!--ERRORES DE VALIDACIÓN-->
      {% if form.errors.items() %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for field, errors in form.errors.items() %}
        {{ ', '.join(errors) }} </br>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <!-- FIN ERRORES DE VALIDACIÓN -->

      <form id="form" action="" method="POST">
        {{ form.csrf_token() }}
        <fieldset class="border p-2">
          <legend class="w-auto">Opciones de búsqueda</legend>
          <div class="row">
            <div class="col-md-4 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.almacen.label }}</div>
                </div>
                <select id="almacen" name="almacen" class="form-control form-control-sm select-2" required
                  style="width: 100%;">
                  <option value="0">Todos</option>
                  {% for almacen in almacenes["data"] %}
                  {%if form.almacen.data==almacen['id']|string%}
                  <option selected value="{{almacen['id']}}">{{almacen['nombre']}}</option>
                  {%else%}
                  <option value="{{almacen['id']}}">{{almacen['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.date_ini.label }}</div>
                </div>
                {{ form.date_ini(class="form-control form-control-sm", max=form.date_now) }}
              </div>
            </div>
            <div class="col mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.date_fin.label }}</div>
                </div>
                {{ form.date_fin(class="form-control form-control-sm", max=form.date_now) }}
              </div>
            </div>
            <div class="col-auto mb-2">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary btn-sm mb-2" id="btn-search">
                  <span class="bi bi-search"></span>
                </button>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
      <fieldset class="border p-2">
        <legend class="w-auto">Resultados</legend>
        <div class="row">
          <div id="no-more-tables">
            <table id="listado" class="table">
              <thead class="cf">
                <tr class="text-center">
                  <th scope="col" width="1%"></th>
                  <th scope="col" width="9%">ALMACEN</th>
                  <th scope="col" width="9%">N° DOC</th>
                  <th scope="col" width="9%">FECHA</th>
                  <th scope="col" width="9%">CLIENTE</th>
                  <th scope="col" width="9%">T.PARCIAL</th>
                  <th scope="col" width="9%">IGV</th>
                  <th scope="col" width="9%">TOTAL</th>
                  <th scope="col" width="9%">%IGV</th>
                  <th scope="col" width="9%">ESTADO</th>
                  <th scope="col" width="9%">USU.REG.</th>
                  <th scope="col" width="9%">USU.ANUL.</th>
                  <th scope="col" width="9%">FECHA.ANUL.</th>
                </tr>
              </thead>
              <tbody>
                <!-- Si status=True entonces existen registros y mostrar en la tabla -->
                {%if ventas.status%}
                {% for venta in ventas["data"] %}
                {%if venta['estado']=='Anulada'%}
                <tr data-id="{{venta['id']}}" class="text-center text-danger">
                  {%else%}
                <tr data-id="{{venta['id']}}" class="text-center">
                  {%endif%}
                  <td data-title="" class="details-control"></td>
                  <td data-title="ALMACEN">{{ venta['almacen'] }}</td>
                  <td data-title="NRO. DOC">{{ venta['nro_doc'] }}</td>
                  <td data-title="FECHA">{{ venta['fecha_hora_registro'] }}</td>
                  <td data-title="CLIENTE">{{ venta['cliente'] }}</td>
                  <td data-title="T. PARCIAL">{{ venta['sub_total'] }}</td>
                  <td data-title="IGV">{{ venta['igv'] }}</td>
                  <td data-title="TOTAL">{{ venta['total'] }}</td>
                  <td data-title="% IGV">{{ venta['porcentaje_igv'] }}</td>
                  <td data-title="ESTADO">{{ venta['estado'] }}</td>
                  <td data-title="USU.REG.">{{ venta['usuario_registro'] }}</td>
                  <td data-title="USU.ANUL.">{{ venta['usuario_anulacion'] }}</td>
                  <td data-title="FECHA.ANUL.">{{ venta['fecha_hora_anulacion'] }}</td>
                </tr>
                {% endfor %}
                {%endif%}
              </tbody>
            </table>
          </div>
        </div>
      </fieldset>
    </div>
  </div>


  {% endblock %}

  {% block script %}
  <script type="text/javascript" charset="utf8"
    src="{{url_for('static', filename='js/library/jquery.dataTables.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/dataTables.buttons.min.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/jszip.min.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/pdfmake.min.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/vfs_fonts.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/buttons.html5.min.js')}}"></script>
  <script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/buttons.print.min.js')}}"></script>
  <script lang="text/javascript">
    $(document).ready(function () {
      $('#listado').DataTable({
        //"scrollX": true,
        "pageLength": 6,
        "language": { "url": "{{url_for('static', filename='json/language-spanish-datatable.json')}}" },
        "dom": 'Brftip',
        "buttons": ['excel', 'pdf', 'print', 'copy'],
        "order": [[2, 'desc']]
      });
      //searchHeadTable($("table#listado"), [0], false);
    });
  </script>

  {% endblock %}

  {% block scripts %}
  <script src="{{url_for('static', filename='js/library/select2.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/report/venta.js')}}"></script>
  {% endblock %}