{% extends 'layout.html' %}

{% block title %}
Editar Perfil De Usuario
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block style %}
<!--Incorpora el CSS Principal style.css-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block body %}
<div class="container-fluid col-md-6">
  <div class="card">
    <div class="card-header">
      <b>Editar Perfil Por Usuario</b>
    </div>
    <div class="card-body">
      <form action="/usuario/save_perfil" method="POST" enctype="multipart/form-data">
        <div class="mb-3 row invisible">
          <div class="col-md-6">
            <label class="form-label">ID</label>
            <input type="text" class="form-control form-control-sm" value="{{datos.id}}" id="txtid" name="txtid">
          </div>
        </div>
        <fieldset class="border p-2">
          <legend class="w-auto">Datos de Usuario</legend>
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 mb-2">
              <div class="input-group input-group-sm mb-5">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre</div>
                </div>
                <input type="text" class="form-control form-control-sm" value="{{datos.nombre}}" id="txtnombre" name="txtnombre">
              </div>
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">Imagen</div>
                </div>
                <input type="file" name="txtimagen" id="txtimagen" class="form-control form-control-sm">
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <div class="input-group input-group-sm">
                <img id="img-preview" src="{{url_for('static',filename='imgs/usuario/'+datos.img)}}" width="90%" />
              </div>
            </div>
          </div>
        </fieldset>
        <div class="text-right">
          <button type="submit" class="btn btn-primary btn-sm btn-guardar">Guardar</button>
          <a href="/main" class="btn btn-secondary btn-sm">Regresar</a>
        </div>
      </form>
    </div>
    {% endblock %}
    {%block script%}
    <script>
      $(function () {
        $("#txtimagen").change(function () {
          readURL(this);
        });
      });

      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#img-preview').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
        }
      }
    </script>
    {%endblock%}