{% extends 'layout.html' %}

{% block title %}
Agregar/Editar Perfil
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{%if perfiles is defined%}
{% set v_perfil_id = perfiles['data']['id'] %}
{% set v_nombre = perfiles['data']['nombre'] %}
{% set v_display = 'visible'%}
{%else%}
{% set v_perfil_id = 0 %}
{% set v_nombre = "" %}
{% set v_display = 'invisible'%}
{%endif%}

<!-- Blocke Modal Grabar-Eliminar (Layout)-->
{% block title_modal_accion %}
Grabar
{% endblock %}

{% block body_modal_accion %}
¿Seguro(a) que desea grabar la operación?
{% endblock %}

{% block confirm_modal_accion %}
btn-confirm-save
{% endblock %}
<!-- Fin Blocke Modal Grabar-Eliminar (Layout)-->

{% block body %}
<div class="container-fluid col-md-6">
    <div class="card">
        <div class="card-header">
            <b>Agregar/Editar Perfil</b>
        </div>
        <div class="card-body">
            <!--ERRORES DE VALIDACIÓN-->
            {% if form.errors.items() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% for field, errors in form.errors.items() %}
                {{ ', '.join(errors) }} </br>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
            <!-- FIN ERRORES DE VALIDACIÓN -->
            <form id="form" action="" method="POST">
                {{ form.csrf_token() }}
                <fieldset class="border p-2">
                    <legend class="w-auto">Datos de perfil</legend>
                    <div class="row">
                        <div class="col-md-4 {{v_display}}">
                            <div class="input-group input-group-sm flex-nowrap">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">{{ form.id.label }}</div>
                                </div>
                                {{ form.id(class="form-control form-control-sm",
                                value=v_perfil_id,readonly="readonly")}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm flex-nowrap">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">{{ form.nombre.label }}</div>
                                </div>
                                {{ form.nombre(class="form-control form-control-sm",value=v_nombre)}}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="text-right">
                    <input type="button" value="Guardar" class="btn btn-primary btn-sm btn-guardar2">
                    <a href="/perfiles" class="btn btn-secondary btn-sm">Regresar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}