{% extends 'layout.html' %}

{% block title %}
Perfiles
{% endblock %}

{% block style %}
<!--Incorpora el CSS de DataTable-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/jquery.dataTables.css')}}">
<!--Incorpora el CSS de DataTable --- Buttons-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/buttons.dataTables.min.css')}}">
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}
{% block title_modal_accion %}
Eliminar
{% endblock %}
{% block body_modal_accion %}
¿Seguro(a) que desea eliminar el registro?
{% endblock %}
{% block confirm_modal_accion %}
btn-confirm-delete
{% endblock %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}


<nav class="navbar navbar-light bg-title">
    <div class="container-fluid">
        <h4>Listado de perfiles</h4>
        <a href="/perfiles/add" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Nuevo</a>
    </div>
</nav>
<br>
<div class="col-md-12">
    <table id="listado" class="table table-striped text-center" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>ACCION</th>
            </tr>
        </thead>
        <tbody>
            {% for perfil in perfiles["data"] %}
            <tr>
                <td>{{ perfil['id'] }}</td>
                <td>{{ perfil['nombre'] }}</td>
                <td>
                    <a href="perfiles/edit/{{perfil['id']}}" class="btn btn-primary btn-sm"><i
                            class="bi bi-pencil-square"></i></a>
                    <a data-href="perfiles/delete/{{perfil['id']}}" class="btn btn-danger btn-sm btn-eliminar2"><i
                            class="bi bi-basket"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8"
    src="{{url_for('static', filename='js/library/jquery.dataTables.js')}}"></script>

<script lang="text/javascript">
    $(document).ready(function () {
        $('#listado').DataTable({
            "scrollX": true,
            "pageLength": 6,
            "language": { "url": "{{url_for('static', filename='json/language-spanish-datatable.json')}}" }
        });
        //searchHeadTable($("table#listado"))
    });
</script>

{% endblock %}