{% extends 'layout.html' %}

{% block title %}
Actualizar Clave
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <b>Actualizar Clave</b>
    </div>
    <div class="card-body">

      <form action="/colaboradores/actualizarclave" method="POST">
        <fieldset class="border p-2">
          <legend class="w-auto">Datos de Colaborador</legend>

          <div class="row">
            <div class="col-md-4 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">Clave Actual</div>
                </div>
                <input type="password" name="txtclaveactual" placeholder="Clave Actual" value=""
                  class="form-control form-control-sm" required autofocus>
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">Clave Nueva</div>
                </div>
                <input type="password" name="txtclavenueva" placeholder="Clave Nueva" value=""
                  class="form-control form-control-sm" required autofocus>
              </div>
            </div>
            <div class="col-md-4 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">Repetir Clave</div>
                </div>
                <input type="password" name="txtclaverepetir" placeholder="Repetir Clave" value=""
                  class="form-control form-control-sm" required autofocus>
              </div>
            </div>
          </div>

        </fieldset>

        <div class="mb-3 row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary btn-sm btn-guardar"><i class="bi bi-save"></i> Guardar</button>
            <a href="/colaboradores" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left"></i> Regresar</a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}