{% extends 'layout.html' %}

{% block title %}
Agregar/Editar Colaborador
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block style %}
<!--Incorpora el CSS de Select2-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/select2.min.css')}}">
{% endblock %}

{%if colaboradores is defined%}
<!--Datos Usuario-->
{% set v_usuario_id = colaboradores['data']['id'] %}
{% set v_email = colaboradores['data']['email'] %}
<!--Datos Persona-->
{% set v_dni = colaboradores['data']['dni'] %}
{% set v_ape_paterno = colaboradores['data']['apellido_paterno'] %}
{% set v_ape_materno = colaboradores['data']['apellido_materno'] %}
{% set v_nombre_persona = colaboradores['data']['nombre'] %}
{% set v_direccion = colaboradores['data']['direccion'] %}
{% set v_referencia = colaboradores['data']['referencia'] %}
{% set v_celular = colaboradores['data']['celular'] %}
{% set v_distrito_id = colaboradores['data']['distrito_id'] %}
{% set v_departamento_id = colaboradores['data']['departamento_id'] %}
{% set v_provincia_id = colaboradores['data']['provincia_id'] %}
{% set v_display = 'visible'%}
{%else%}
{% set v_usuario_id = 0 %}
{% set v_email = form.email.data %}
{% set v_dni = form.dni.data %}
{% set v_ape_paterno = form.paterno.data %}
{% set v_ape_materno = form.materno.data %}
{% set v_nombre_persona = form.nombre_persona.data %}
{% set v_direccion = form.direccion.data %}
{% set v_referencia = form.referencia.data %}
{% set v_celular = form.celular.data %}
{% set v_display = 'invisible'%}
{%endif%}

<!-- Blocke Modal Grabar-Eliminar (Layout)-->
{% block title_modal_accion %}
Grabar
{% endblock %}

{% block body_modal_accion %}
¿Seguro(a) que desea grabar la operación?
{% endblock %}

{% block confirm_modal_accion %}
btn-confirm-save
{% endblock %}
<!-- Fin Blocke Modal Grabar-Eliminar (Layout)-->

{% block body %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <b>Agregar/Editar Colaborador</b>
    </div>
    <div class="card-body">

      <!--ERRORES DE VALIDACIÓN-->
      {% if form.errors.items() %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for field, errors in form.errors.items() %}
        {{ ', '.join(errors) }} </br>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <!-- FIN ERRORES DE VALIDACIÓN -->

      <form id="form" action="" method="POST">
        {{ form.csrf_token() }}
        <div class="mb-3 row {{v_display}}">
          <div class="col-md-1">
            <label class="form-label">{{ form.id.label }}</label>
            {{ form.id(class="form-control form-control-sm",value=v_usuario_id,readonly="readonly") }}
          </div>
        </div>
        <fieldset class="border p-2">
          <legend class="w-auto">Datos de Colaborador</legend>
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.dni.label }}</div>
                </div>
                {% if v_usuario_id>0 %}
                {{ form.dni(class="form-control form-control-sm solo-numero", value=v_dni,
                maxlength=8,readonly=readonly) }}
                {% else %}
                {{ form.dni(class="form-control form-control-sm solo-numero", value=v_dni, maxlength=8) }}
                {% endif %}

                <div class="input-group-append">
                  <!-- Loading mientras busca dni en BD sino existe busca en RENIEC -->
                  <div id="dni-loading"><img /></div>
                  <!-- Fin Loading -->
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Departamento *</div>
                </div>
                <select id="cmbdpto" name="cmbdpto" class="form-control form-control-sm select-2" required>
                  <option selected value="">Seleccione...</option>
                  {% for dpto in dptos["data"] %}
                  {% if v_departamento_id == dpto['id'] %}
                  <option selected value="{{dpto['id']}}">{{dpto['nombre']}}</option>
                  {%else%}
                  <option value="{{dpto['id']}}">{{dpto['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.paterno.label }}</div>
                </div>
                {{ form.paterno(class="form-control form-control-sm", value=v_ape_paterno) }}
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Provincia *</div>
                </div>
                <select id="cmbprov" name="cmbprov" class="form-control form-control-sm select-2" required>
                  {% if v_usuario_id>0 %}
                  {% for prov in provs["data"] %}
                  {% if v_provincia_id == prov['id'] %}
                  <option selected value="{{prov['id']}}">{{prov['nombre']}}</option>
                  {%else%}
                  <option value="{{prov['id']}}">{{prov['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                  {%endif%}
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.materno.label }}</div>
                </div>
                {{ form.materno(class="form-control form-control-sm", value=v_ape_materno) }}
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Distrito *</div>
                </div>
                <select id="cmbdist" name="cmbdist" class="form-control form-control-sm select-2" required>
                  {% if v_usuario_id>0 %}
                  {% for dist in dists["data"] %}
                  {% if v_distrito_id == dist['id'] %}
                  <option selected value="{{dist['id']}}">{{dist['nombre']}}</option>
                  {%else%}
                  <option value="{{dist['id']}}">{{dist['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                  {%endif%}
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.nombre_persona.label }}</div>
                </div>
                {{ form.nombre_persona(class="form-control form-control-sm", value=v_nombre_persona) }}
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.email.label }}</div>
                </div>
                {% if v_usuario_id>0 %}
                {{ form.email(class="form-control form-control-sm", value=v_email,readonly=readonly) }}
                {% else %}
                {{ form.email(class="form-control form-control-sm", value=v_email) }}
                {% endif %}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.direccion.label }}</div>
                </div>
                {{ form.direccion(class="form-control form-control-sm", value=v_direccion) }}
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.celular.label }}</div>
                </div>
                {{ form.celular(class="form-control form-control-sm solo-numero", value=v_celular, maxlength=9) }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.referencia.label }}</div>
                </div>
                {{ form.referencia(class="form-control form-control-sm", value=v_referencia) }}
              </div>
            </div>
          </div>
        </fieldset>

        <div class="text-right">
          <input type="button" value="Guardar" class="btn btn-primary btn-sm btn-guardar2">
          <a href="/colaboradores" class="btn btn-secondary btn-sm">Regresar</a>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/library/select2.min.js')}}"></script>
<script src="{{url_for('static', filename='js/util.js')}}"></script>
<script src="{{url_for('static', filename='js/mantenimiento/usuario.js')}}"></script>
{% endblock %}