<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='imgs/sources/fav-icon.png')}}">
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/library/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <!--Incorpora el CSS Principal style.css-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <style>
        .bg-title {
            background-color: #e3e2e2;
        }

        .text-right {
            text-align: right;
        }

        .text-center {
            text-align: center;
        }

        .visible {
            display: block;
        }

        .invisible {
            display: none;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='css/library/offcanvas.css')}}" rel="stylesheet">
    <!--Incorpora el CSS Toast toast.css-->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/toast.css')}}">
    {% block style %}
    {% endblock %}
</head>

<body class="bg-light">
    <!-- Modal Cargando (se muestra cuando se graba, actualiza o elimina)-->
    <div id="cargandoModal" class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false"
        tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <div class="d-flex justify-content-center">
                    <!--falta code cargando-->
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal Cargando -->

    <!-- Modal Grabar-Eliminar-Actualizar (Se muestra para confirmar(si) o rechazar(no) la acción (guardar-eliminar)) -->
    <div class="modal fade" id="grabarModalCenter" tabindex="-1" role="dialog" aria-labelledby="grabarModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="grabarModalLongTitle">{% block title_modal_accion %}{% endblock %}</h5>
                    <button type="button" class="btn-close btn-no" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="modal-body">{% block body_modal_accion %}{% endblock %}</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-no" data-dismiss="modal">No</button>
                    <input type="submit" value="Si"
                        class="btn btn-primary {% block confirm_modal_accion %}{% endblock %}">
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal Grabar -->

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">Menú Principal</a>
            <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <!-- Inicio Zona de menus -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {%for k,v in datos.menu.items()%}
                    {%for item in v%}
                    <li class="nav-item dropdown">
                        {%if item.submenu%}
                        <a class="nav-link dropdown-toggle" href="{{item.route}}" id="dropdown01"
                            data-bs-toggle="dropdown" aria-expanded="false">{{item.menu}}</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            {%for submenu in item.submenu%}
                            {%if submenu.menu_hijo!=None%}
                            <li><a class="dropdown-item" href="{{submenu.route}}">{{submenu.submenu}}</a></li>
                            {%endif%}
                            {%endfor%}
                        </ul>
                        {%else%}
                        <a class="nav-link navbar-brand" href="{{item.route}}">{{item.menu}}</a>
                        {%endif%}
                    </li>
                    {%endfor%}
                    {%endfor%}
                </ul>
                <!-- Fin Zona de menus -->

                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="" href="#" id="dropdown01" data-bs-toggle="dropdown"
                            aria-expanded="false"><img style=" border-radius: 50%;border: 2px solid #ff675b;"
                                src="{% block userimg %}{% endblock %}" width="30" height="30" />
                            {% block username %}
                            {% endblock %}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="/usuario_perfil"><i
                                        class="bi bi-person-circle"></i>Perfil</a></li>
                            <li><a class="dropdown-item" href="/colaboradores/mostrarclave"><i
                                        class="bi bi-key-fill"></i>Cambiar contraseña</a></li>
                            <li><a class="dropdown-item" href="/logout"><i class="bi bi-x-circle-fill"></i>Cerrar
                                    Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
<main class="container-xl pt-3">
    {% block body %}
    {% endblock %}
</main>

<script src="{{url_for('static', filename='js/library/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='js/library/offcanvas.js')}}"></script>
<script src="{{url_for('static', filename='js/library/jquery-3.6.0.js')}}"></script>
<script src="{{url_for('static', filename='js/library/toast.js')}}"></script>
<script src="{{url_for('static', filename='js/main.js')}}"></script>
<script src="{{url_for('static', filename='js/util.js')}}"></script>

{% block script %}
{% endblock %}

</body>
{% block scripts %}
{% endblock %}

</html>