<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.82.0">
  <title>Iniciar sesión</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='imgs/sources/fav-icon.png')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!--Incorpora el CSS de Select2-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/select2.min.css')}}">
  <!-- Favicons -->
  <style>
    @import url('https://fonts.googleapis.com/css?family=Numans');

    html,
    body {
      background-image: url("{{url_for('static', filename='imgs/sources/fondo_login.jpg')}}");
      background-size: cover;
      background-repeat: no-repeat;
      height: 100%;
      font-family: 'Numans', sans-serif;
    }

    .container {
      height: 100%;
      align-content: center;
    }

    .card {
      height: auto;
      margin-top: auto;
      margin-bottom: auto;
      width: 400px;
      background-color: rgba(0, 0, 0, 0.5) !important;
    }

    .social_icon span {
      font-size: 60px;
      margin-left: 10px;
      color: #0d6efd;
    }

    .social_icon span:hover {
      color: white;
      cursor: pointer;
    }

    .card-header h3 {
      color: white;
    }

    .social_icon {
      position: absolute;
      right: 20px;
      top: -45px;
    }

    .input-group-prepend span {
      width: 50px;
      background-color: #0d6efd;
      color: #fff;
      border: 0 !important;
    }

    input:focus {
      outline: 0 0 0 0 !important;
      box-shadow: 0 0 0 0 !important;

    }

    .remember {
      color: white;
    }

    .remember input {
      width: 20px;
      height: 20px;
      margin-left: 15px;
      margin-right: 5px;
    }

    .login_btn {
      color: #fff;
      background-color: #0d6efd;
      width: 100px;
    }

    .login_btn:hover {
      color: black;
      background-color: #fff;
    }

    .links {
      color: #fff;
    }

    .links a {
      margin-left: 4px;
    }

    .select2-selection__arrow {
      display: none !important;
    }

    .select2-container .select2-selection--single {
      height: 2.4rem;
      font-size: 1rem;
      color: #495057;
      background-color: #fff;
      padding: .375rem .75rem .375rem .21rem;
    }

    .ocultar {
      width: 0;
      height: 0;
      overflow: hidden;
    }
  </style>
  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename='css/library/signin.css')}}" rel="stylesheet">

</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <!--ERRORES DE VALIDACIÓN-->
          {%if form.estadologin.data == "1"|string%}
          {% if form.errors.items() %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for field, errors in form.errors.items() %}
            {{ ', '.join(errors) }} </br>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          {%else%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{form.msjlogin.data}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}
          <!-- FIN ERRORES DE VALIDACIÓN -->
          <h3>Iniciar Sesión</h3>
          <!-- <div class="d-flex justify-content-end social_icon">
            <span><i class="fab fa-facebook-square"></i></span>
            <span><i class="fab fa-google-plus-square"></i></span>
            <span><i class="fab fa-twitter-square"></i></span>
          </div> -->
        </div>

        <div class="card-body">

          <form action="" method="POST">
            {{ form.csrf_token() }}
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              {{ form.email(class="form-control",maxlength=50,placeholder="name@example.com",value=form.email.data) }}
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              {{ form.clave(class="form-control",maxlength=32,placeholder="contraseña") }}
            </div>
            {%if perfiles is defined%}
            <div class="input-group form-group {{ ocultar }}" style="width: 100%;">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-users"></i></span>
              </div>
              <select name="perfil" id="perfil" class="form-control select-2" {{disabled}}>
                {% for perfil in perfiles["data"] %}
                <option value="{{perfil['id']}}">{{perfil['nombre']}}</option>
                {% endfor %}
              </select>
            </div>
            {%endif%}
            <div class="form-group">
              {{ form.submit(class="btn float-right login_btn") }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="{{url_for('static', filename='js/library/jquery-3.6.0.js')}}"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="{{url_for('static', filename='js/library/select2.min.js')}}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $(".select-2").select2().append(new Option("Seleccione...", ""))

  })
</script>

</html>