{% extends 'layout.html' %}

{% block title %}
Agregar/Editar Almacenes
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{%if almacenes is defined%}

{% set v_id = almacenes['data']['id'] %}
{% set v_nombre = almacenes['data']['nombre'] %}
{% set v_direccion = almacenes['data']['direccion'] %}
{% set v_display = 'visible'%}

{%else%}

{% set v_id = 0 %}
{% set v_nombre = "" %}
{% set v_direccion = "" %}
{% set v_display = 'invisible'%}

{%endif%}


{% block body %}
<nav class="navbar navbar-light bg-title">
    <div class="container-fluid">
        <h4>Agregar/Editar Almacenes</h4>
    </div>
</nav>
<div class="col-md-12">
    <form action="/almacenes/save" method="POST">

        <div class="mb-3 row {{v_display}}">
            <div class="col-md-1">
                <label class="form-label">ID</label>
                <input type="text" name="txtid" placeholder="ID" value="{{v_id}}" class="form-control form-control-sm"
                    required readonly>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-md-6">
                <label class="form-label">NOMBRE</label>
                <input type="text" name="txtnombre" placeholder="Nombre" value="{{v_nombre}}"
                    class="form-control form-control-sm" required autofocus>
            </div>

            <div class="col-md-6">
                <label class="form-label">DIRECCIÓN</label>
                <input type="text" name="txtdireccion" placeholder="Nombre" value="{{v_direccion}}"
                    class="form-control form-control-sm" required autofocus>
            </div>

        </div>

        <div class="mb-3 row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-sm btn-guardar"><i class="bi bi-save"></i>
                    Guardar</button>
                <a href="/almacenes" class="btn btn-secondary btn-sm"><i class="bi bi-arrow-left"></i> Regresar</a>
            </div>
        </div>
    </form>
</div>

{% endblock %}