{% extends 'layout.html' %}

{% block title %}
Almacén
{% endblock %}



{% block style %}
<!--Incorpora el CSS de DataTable-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/jquery.dataTables.css')}}">
<!--Incorpora el CSS de DataTable --- Buttons-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/buttons.dataTables.min.css')}}">
{% endblock %}


{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- MODIFICAR DESDE AQUÍ -->
<nav class="navbar navbar-light bg-title">
    <div class="container-fluid">
        <h4>Listado de Almacenes</h4>
        <a href="/almacenes/add" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Nuevo</a>
    </div>
</nav>
<br>
<div class="col-md-12">
    <table id="listado" class="table table-striped text-center" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>ALMACEN</th>
                <th>DIRECCION</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            <!-- almacenes → viene de VIEWS del método def almacenes(): → (almacenes=datosA) -->
            <!-- Si status=True entonces existen registros y mostrar en la tabla -->
            {%if almacenes.status%}
            {% for almacen in almacenes["data"] %}
            <tr>
                <td>{{ almacen['id'] }}</td>
                <td>{{ almacen['nombre'] }}</td>
                <td>{{ almacen['direccion'] }}</td>

                <!-- OPCIONES -->
                <td class="text-center">
                    <a href="almacenes/edit/{{almacen['id']}}" class="btn btn-primary btn-sm"><i
                            class="bi bi-pencil-square"></i> Editar</a>
                    <a href="almacenes/delete/{{almacen['id']}}" class="btn btn-danger btn-sm btn-eliminar"><i
                            class="bi bi-basket"></i> Eliminar</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8"
    src="{{url_for('static', filename='js/library/jquery.dataTables.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/dataTables.buttons.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/jszip.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/pdfmake.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/vfs_fonts.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/buttons.html5.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/buttons.print.min.js')}}"></script>
<script lang="text/javascript">
    $(document).ready(function () {
        $('#listado').DataTable({
            "scrollX": true,
            "pageLength": 6,
            "language": { "url": "{{url_for('static', filename='json/language-spanish-datatable.json')}}" },
            "dom": 'Brftip',
            "buttons": ['excel', 'pdf', 'print', 'copy'],
            "order": [[1, 'asc']]
        });
        //searchHeadTable($("#listado"))
    });
</script>

{% endblock %}