{% extends 'layout.html' %}

{% block title %}
Agregar/Editar Usuario Perfil
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block style %}
<!--Incorpora el CSS de Select2-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/select2.min.css')}}">
{% endblock %}

{%if usuarioperfiles is defined%}
{% set v_usuario_perfil_id = usuarioperfiles['data']['id'] %}
{% set v_perfil_id = usuarioperfiles['data']['perfil_id'] %}
{% set v_usuario_id = usuarioperfiles['data']['usuario_id'] %}
{% set v_display = 'visible'%}
{%else%}
{% set v_usuario_perfil_id = 0 %}
{% set v_display = 'invisible'%}
{%endif%}

<!-- Blocke Modal Grabar-Eliminar (Layout)-->
{% block title_modal_accion %}
Grabar
{% endblock %}

{% block body_modal_accion %}
¿Seguro(a) que desea grabar la operación?
{% endblock %}

{% block confirm_modal_accion %}
btn-confirm-save
{% endblock %}
<!-- Fin Blocke Modal Grabar-Eliminar (Layout)-->

{% block body %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <b>Agregar/Editar Usuario Perfil</b>
    </div>
    <div class="card-body">

      <!--ERRORES DE VALIDACIÓN-->
      {% if form.errors.items() %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for field, errors in form.errors.items() %}
        {{ ', '.join(errors) }} </br>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <!-- FIN ERRORES DE VALIDACIÓN -->
      <form id="form" action="" method="POST">
        {{ form.csrf_token() }}
        <div class="mb-3 row {{v_display}}">
          <div class="col-md-1">
            <label class="form-label">{{ form.id.label }}</label>
            {{ form.id(class="form-control form-control-sm",value=v_usuario_perfil_id,readonly="readonly") }}
          </div>
        </div>

        <fieldset class="border p-2">
          <legend class="w-auto">Datos de Usuario Perfil</legend>
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Usuario *</div>
                </div>
                <select id="usuario" name="usuario" class="form-control form-control-sm select-2" required>
                  <option selected value="">Seleccione...</option>
                  {% for usuario in usuarios["data"] %}
                  {% if v_usuario_id == usuario['id'] %}
                  <option selected value="{{usuario['id']}}">{{usuario['nombre_usuario']}}</option>
                  {%else%}
                  <option value="{{usuario['id']}}">{{usuario['nombre_usuario']}}</option>
                  {%endif%}
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Perfil *</div>
                </div>
                <select id="perfil" name="perfil" class="form-control form-control-sm select-2" required>
                  <option selected value="">Seleccione...</option>
                  {% for perfil in perfiles["data"] %}
                  {% if v_perfil_id == perfil['id'] %}
                  <option selected value="{{perfil['id']}}">{{perfil['nombre']}}</option>
                  {%else%}
                  <option value="{{perfil['id']}}">{{perfil['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="text-right">
          <input type="button" value="Guardar" class="btn btn-primary btn-sm btn-guardar2">
          <a href="/usuarioperfiles" class="btn btn-secondary btn-sm">Regresar</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/library/select2.min.js')}}"></script>
<script src="{{url_for('static', filename='js/sistema/usuario_perfil.js')}}"></script>
{% endblock %}