{% extends 'layout.html' %}

{% block title %}
Agregar/Editar Proveedor
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block style %}
<!--Incorpora el CSS de Select2-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/select2.min.css')}}">
{% endblock %}

{%if proveedores is defined%}
<!--Datos Proveedor-->
{% set v_proveedor_id = proveedores['data']['id'] %}
{% set v_dni_repre = proveedores['data']['nro_doc_repre_legal'] %}
{% set v_nombre_repre = proveedores['data']['nombre_repre_legal'] %}
{% set v_direccion_repre = proveedores['data']['direc_repre_legal'] %}
{% set v_email_repre = proveedores['data']['email_repre_legal'] %}
{% set v_celular_repre = proveedores['data']['cel_repre_legal'] %}
<!--Datos Persona-->
{% set v_ruc = proveedores['data']['ruc'] %}
{% set v_razon_social = proveedores['data']['razon_social'] %}
{% set v_direccion = proveedores['data']['direccion'] %}
{% set v_email = proveedores['data']['email'] %}
{% set v_celular = proveedores['data']['celular'] %}
{% set v_distrito_id = proveedores['data']['distrito_id'] %}
{% set v_departamento_id = proveedores['data']['departamento_id'] %}
{% set v_provincia_id = proveedores['data']['provincia_id'] %}
{% set v_display = 'visible'%}
{%else%}
{% set v_proveedor_id = 0 %}
{% set v_dni_repre = form.dnirepre.data %}
{% set v_nombre_repre = form.nombrerepre.data %}
{% set v_direccion_repre = form.direccionrepre.data %}
{% set v_email_repre = form.emailrepre.data %}
{% set v_celular_repre = form.celularrepre.data %}
{% set v_ruc = form.ruc.data %}
{% set v_razon_social = form.razon.data %}
{% set v_direccion = form.direccion.data %}
{% set v_email = form.email.data%}
{% set v_celular = form.celular.data %}
{% set v_display = 'invisible'%}
{%endif%}

<!-- Blocke Modal Grabar-Eliminar (Layout)-->
{% block title_modal_accion %}
Grabar
{% endblock %}

{% block body_modal_accion %}
¿Seguro(a) que desea grabar la operación?
{% endblock %}

{% block confirm_modal_accion %}
btn-confirm-save
{% endblock %}
<!-- Fin Blocke Modal Grabar-Eliminar (Layout)-->

{% block body %}
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <b>Agregar/Editar Proveedor</b>
    </div>
    <div class="card-body">

      <!--ERRORES DE VALIDACIÓN-->
      {% if form.errors.items() %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for field, errors in form.errors.items() %}
        {{ ', '.join(errors) }} </br>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <!-- FIN ERRORES DE VALIDACIÓN -->

      <form id="form" action="" method="POST">
        {{ form.csrf_token() }}
        <div class="mb-3 row {{v_display}}">
          <div class="col-md-1">
            <label class="form-label">{{ form.id.label }}</label>
            {{ form.id(class="form-control form-control-sm",value=v_proveedor_id,readonly="readonly") }}
          </div>
        </div>
        <fieldset class="border p-2">
          <legend class="w-auto">Datos de Proveedor</legend>
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.ruc.label }}</div>
                </div>
                {% if v_proveedor_id>0 %}
                {{ form.ruc(class="form-control form-control-sm solo-numero", value=v_ruc,
                maxlength=11,readonly=readonly) }}
                {% else %}
                {{ form.ruc(class="form-control form-control-sm solo-numero", value=v_ruc, maxlength=11) }}
                {% endif %}

                <div class="input-group-append">
                  <!-- Loading mientras busca ruc en BD sino existe busca en SUNAT -->
                  <div id="ruc-loading"><img /></div>
                  <!-- Fin Loading -->
                </div>
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Departamento *</div>
                </div>
                <select id="cmbdpto" name="cmbdpto" class="form-control form-control-sm select-2" required>
                  <option selected value="">Seleccione...</option>
                  {% for dpto in dptos["data"] %}
                  {% if v_departamento_id == dpto['id'] %}
                  <option selected value="{{dpto['id']}}">{{dpto['nombre']}}</option>
                  {%else%}
                  <option value="{{dpto['id']}}">{{dpto['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.razon.label }}</div>
                </div>
                {{ form.razon(class="form-control form-control-sm", value=v_razon_social) }}
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Provincia *</div>
                </div>
                <select id="cmbprov" name="cmbprov" class="form-control form-control-sm select-2" required>
                  {% if v_proveedor_id>0 %}
                  {% for prov in provs["data"] %}
                  {% if v_provincia_id == prov['id'] %}
                  <option selected value="{{prov['id']}}">{{prov['nombre']}}</option>
                  {%else%}
                  <option value="{{prov['id']}}">{{prov['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                  {%endif%}
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.celular.label }}</div>
                </div>
                {{ form.celular(class="form-control form-control-sm solo-numero", value=v_celular,maxlength=9) }}
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text">Distrito *</div>
                </div>
                <select id="cmbdist" name="cmbdist" class="form-control form-control-sm select-2" required>
                  {% if v_proveedor_id>0 %}
                  {% for dist in dists["data"] %}
                  {% if v_distrito_id == dist['id'] %}
                  <option selected value="{{dist['id']}}">{{dist['nombre']}}</option>
                  {%else%}
                  <option value="{{dist['id']}}">{{dist['nombre']}}</option>
                  {%endif%}
                  {% endfor %}
                  {%endif%}
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.email.label }}</div>
                </div>
                {{ form.email(class="form-control form-control-sm", value=v_email) }}
              </div>
            </div>

            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="height:100%">{{ form.direccion.label }}</div>
                </div>
                {{ form.direccion(class="form-control form-control-sm", value=v_direccion)}}
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="border p-2">
          <legend class="w-auto">Datos de Representante Legal</legend>
          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.dnirepre.label }}</div>
                </div>
                {{ form.dnirepre(class="form-control form-control-sm solo-numero", value=v_dni_repre, maxlength=8)}}
                <div class="input-group-append">
                  <!-- Loading mientras busca dni en RENIEC -->
                  <div id="dnirepre-loading"><img /></div>
                  <!-- Fin Loading -->
                </div>
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.nombrerepre.label }}</div>
                </div>
                {{ form.nombrerepre(class="form-control form-control-sm", value=v_nombre_repre)}}
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.celularrepre.label }}</div>
                </div>
                {{ form.celularrepre(class="form-control form-control-sm solo-numero", value=v_celular_repre,
                maxlength=9)}}
              </div>
            </div>
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <div class="input-group-text">{{ form.emailrepre.label }}</div>
                </div>
                {{ form.emailrepre(class="form-control form-control-sm", value=v_email_repre)}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-2">
              <div class="input-group input-group-sm flex-nowrap">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="height:100%">{{ form.direccionrepre.label }}</div>
                </div>
                {{ form.direccionrepre(class="form-control form-control-sm", value=v_direccion_repre)}}
              </div>
            </div>
          </div>
        </fieldset>

        <div class="text-right">
          <input type="button" value="Guardar" class="btn btn-primary btn-sm btn-guardar2">
          <a href="/proveedores" class="btn btn-secondary btn-sm">Regresar</a>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/library/select2.min.js')}}"></script>
<script src="{{url_for('static', filename='js/util.js')}}"></script>
<script src="{{url_for('static', filename='js/mantenimiento/proveedor.js')}}"></script>
{% endblock %}