{% extends 'layout.html' %}

{% block title %}
Proveedores
{% endblock %}

{% block style %}
<!--Incorpora el CSS de DataTable-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/jquery.dataTables.css')}}">
<!--Incorpora el CSS de DataTable --- Buttons-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/library/buttons.dataTables.min.css')}}">
{% endblock %}

{%block username%}
{{datos.nombre}}
{% endblock %}

{%block userimg%}
{{url_for('static',filename='imgs/usuario/'+datos.img)}}
{% endblock %}

{% block title_modal_accion %}
Eliminar
{% endblock %}
{% block body_modal_accion %}
¿Seguro(a) que desea eliminar el registro?
{% endblock %}
{% block confirm_modal_accion %}
btn-confirm-delete
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<!-- Desde aquí para abajo modificar -->
<nav class="navbar navbar-light bg-title">
    <div class="container-fluid">
        <h4>Listado de proveedores</h4>
        <a href="/proveedores/add" class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i> Nuevo</a>
    </div>
</nav>
<br>
<div class="col-md-12">
    <table id="listado" class="table table-striped text-center" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>RUC</th>
                <th>RAZ. SOCIAL</th>
                <th>DIRECCIÓN</th>
                <th>DEPARTAMENTO</th>
                <th>PROVINCIA</th>
                <th>DISTRITO</th>
                <th>OPCIONES</th>
            </tr>
        </thead>
        <tbody>
            <!-- Si status=True entonces existen registros y mostrar en la tabla -->
            {%if proveedores.status%}
            {% for proveedor in proveedores["data"] %}
            <tr>
                <td>{{ proveedor['id'] }}</td>
                <td>{{ proveedor['ruc'] }}</td>
                <td>{{ proveedor['razon_social'] }}</td>
                <td>{{ proveedor['direccion'] }}</td>
                <td>{{ proveedor['departamento'] }}</td>
                <td>{{ proveedor['provincia'] }}</td>
                <td>{{ proveedor['distrito'] }}</td>
                <td>
                    <a href="proveedores/edit/{{proveedor['id']}}" class="btn btn-primary btn-sm" title="Editar"><i
                            class="bi bi-pencil-square"></i></a>
                    <a data-href="proveedores/delete/{{proveedor['id']}}" class="btn btn-danger btn-sm btn-eliminar2"
                        title="Eliminar"><i class="bi bi-basket"></i></a>
                </td>
            </tr>
            {% endfor %}
            {%endif%}
        </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>RUC</th>
                <th>RAZ. SOCIAL</th>
                <th>DIRECCIÓN</th>
                <th>DEPARTAMENTO</th>
                <th>PROVINCIA</th>
                <th>DISTRITO</th>
            </tr>
        </tfoot>
    </table>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript" charset="utf8"
    src="{{url_for('static', filename='js/library/jquery.dataTables.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/dataTables.buttons.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/jszip.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/pdfmake.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/vfs_fonts.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/buttons.html5.min.js')}}"></script>
<script type="text/javascript" language="javascript"
    src="{{url_for('static', filename='js/library/buttons.print.min.js')}}"></script>
<script lang="text/javascript">
    $(document).ready(function () {
        $('#listado').DataTable({
            "scrollX": true,
            "pageLength": 6,
            "language": { "url": "{{url_for('static', filename='json/language-spanish-datatable.json')}}" },
            "dom": 'Brftip',
            "buttons": ['excel', 'pdf', 'print', 'copy'],
            "order": [[1, 'asc']]
        });
        //searchHeadTable($("table#listado"))
    });
</script>

{% endblock %}